%h1 Admin::Dashboard#show
%table.table
  %thead
    %tr
      %th{scope: 'col'} Id
      %th{scope: 'col'}
  %tbody
    - @forms.each do |f|
      %tr
        %th{scope: 'row'}= link_to f.id, '#'
        %td= link_to 'edit', '#'
