# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 59640e8d0e1852b9a6a77beda631467e26428439c9df28c4c3a0d1881e6351e701fc2ace5fd3f924f9ee4442d73b5a0122e918336f1bcdea1faa01fede3c0386

test:
  secret_key_base: feb5f4984a8330a8963fdb2f24b0700c76b06af28b5be241218f3a14e44043a2959c5a1542e0c9a872e2b1e01fcd2d08386cfcbb03e678e0078e9fd10a571e01

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
