$spacer: 1rem;
$primary: #1389CB;
$secondary: #6CC3EE;
$body-color: #000000;
$dark-gray: #272727;
$medium-gray: #EBEBEB;
$light-gray: #F5F5F5;
$input-color: $body-color;
//$input-border-width: 0px;
$component-active-bg: $dark-gray;
$link-hover-color: #2D5365;
$link-hover-decoration: none;
$border-radius: $spacer;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;
$headings-line-height: 1.0;
